@import "@wordpress/base-styles/colors.native"; // stylelint-disable-line scss/at-import-partial-extension
@import "@wordpress/base-styles/breakpoints";

.vrts-list-table-page {

	.vrts-test-run-trigger {
		display: inline-block;
		border-radius: 32px;
		padding: 4px 10px;
		font-size: 13px;
		background: rgba(192, 192, 192, 0.15);
		color: $gray-80;

		&--api {
			background: rgba(224, 84, 6, 0.15);
			color: #ae4204;
		}

		&--scheduled {
			background: rgba(106, 26, 185, 0.1);
			color: #591b98;
		}

		&--manual {
			background: rgba(5, 116, 206, 0.1);
			color: #045495;

		}

		&--update, {
			background: rgba(200, 11, 147, 0.1);
			color: #a51d7f;
		}
	}

	[data-vrts-test-run-details="hidden"] .vrts-test-run-trigger-notes {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.vrts-test-runs-page {

	.tablenav.top {
		clear: none;
	}
}

.vrts-test-runs-list-table {

	.column-icon {
		text-align: center;
		padding: 10px 0 0 10px;
		width: 28px;
	}

	.vrts-runs-status {

		&--passed {
			color: $alert-green;
		}

		&--scheduled {
			color: #f97b06;
		}

		&--has-alerts {
			color: $alert-red;
		}

		&--running {
			animation: rotate 1.5s linear infinite;
			color: $blue-50;
		}
	}

	.row-title {
		color: $blue-50;
	}

	[data-vrts-test-run-status="running"] .row-title {
		color: #f97b06;
	}

	.row-actions {
		display: flex;
		flex-wrap: wrap;
		gap: 4px;

		.tests {
			color: $gray-80;
		}

		.details {
			visibility: hidden;

			&::before {
				content: " | ";
			}
		}
	}

	tr:hover {

		.row-actions {

			.details {
				visibility: visible;
			}
		}
	}

	.vrts-test-run-view-alerts {
		display: inline-flex;
		align-items: center;
		gap: 4px;
	}
}

.vrts-test-runs-list-queue-table {
	margin-top: 10px;
	margin-bottom: 20px;

	thead,
	tfoot {
		display: none;
	}

	.subsubsub:has(+ &) {
		float: none;
	}
}

.vrts-test-run-details {
	display: none;

	[data-vrts-test-run-details="visible"] & {
		display: block;
	}

	.vrts-test-run-details-section {
		margin: 15px 0;

		&:first-child {
			margin-top: 25px;
		}

		&-title {
			border-bottom: 1px solid $gray-5;
			color: $alert-red;
			display: flex;
			flex-wrap: wrap;
			font-weight: 600;
			gap: 10px;
			justify-content: space-between;
			margin-bottom: 10px;
			padding-bottom: 10px;
		}

		&--passed {

			.vrts-test-run-details-section-title {
				color: $alert-green;
			}
		}

		ul {
			margin: 0;
			margin-left: 1rem;
			list-style: outside;
		}
	}

	.button {
		margin-bottom: 4px;
	}
}
