@import "@wordpress/base-styles/colors.native"; // stylelint-disable-line scss/at-import-partial-extension
@import "@wordpress/base-styles/breakpoints";

.vrts-list-table-page {
	.vrts-test-run-trigger {
		display: inline-block;
		border-radius: 32px;
		padding: 4px 10px;
		font-size: 13px;
		background: rgba(192, 192, 192, 0.15);
		color: $gray-80;

		&--api {
			background: rgba(224, 84, 6, 0.15);
			color: #AE4204;
		}

		&--scheduled {
			background: rgba(106, 26, 185, 0.1);
			color: #591B98;
		}

		&--manual {
			background: rgba(5, 116, 206, 0.1);
			color: #045495;

		}

		&--updates {
			background: rgba(200, 11, 147, 0.1);
			color: #A51D7F;
		}
	}

	.vrts-test-run-trigger-notes {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.vrts-test-runs-page {
	.tablenav.top {
		clear: none;
	}
}

.vrts-test-runs-list-table {
	.column-icon {
		text-align: center;
		padding: 10px 0 0 10px;
		width: 28px;
	}

	.vrts-runs-status {
		&--passed {
			color: $alert-green;
		}

		&--scheduled {
			color: #F97B06;
		}

		&--has-alerts {
			color: $alert-red;
		}

		&--running {
			color: $blue-50;
		}
	}

	.row-title {
		color: $blue-50;
	}

	[data-vrts-test-run-status="running"] .row-title {
		color: #F97B06;
	}

	.row-actions {
		position: static;

		.tests {
			color: $gray-80;
		}
	}
}

.vrts-test-runs-list-queue-table {
	thead,
	tfoot {
		display: none;
	}
}
