@import "@wordpress/base-styles/colors.native"; // stylelint-disable-line scss/at-import-partial-extension

.vrts-test-run-success {
	display: block;
	padding: max(50px, 8%) 20px;
	border-top: 0;
	overflow: hidden;

	&__inner {
		margin-bottom: 1.5rem;
		max-width: 600px;
		margin-inline: auto;
	}

	&__lottie-player {
		position: relative;
		pointer-events: none;
		display: flex;
		align-items: center;
		justify-content: center;
		aspect-ratio: 10 / 8;
		margin-top: calc(100% / (10 / 8) * 0.3 * -1);

		svg {
			position: absolute;
			inset: 0;
		}
	}

	&__content {
		text-align: center;
		margin-top: calc(100% / (10 / 8) * 0.3 * -1);

		> p {
			font-size: 16px;
			font-weight: 600;
			margin: 0;
		}

		blockquote {
			margin: 2rem auto 0 auto;
			max-width: 350px;
			text-wrap: balance;

			p,
			cite {
				color: $gray-50;
				margin: 5px;
				font-size: 1rem;
				line-height: 1.5;
				letter-spacing: 0.01em;
			}

			cite {
				color: $gray-700;
				font-size: 0.875rem;
			}
		}
	}
}
