@import "@wordpress/base-styles/colors.native"; // stylelint-disable-line scss/at-import-partial-extension
@import "@wordpress/base-styles/mixins";
@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/variables";
@import "@wordpress/base-styles/default-custom-properties";

.vrts-test-run-wrap {

	#wpfooter {
		display: none;
	}

	#wpbody-content {
		padding-bottom: 0;
	}
}

.vrts-test-run-page {
	display: flex;
	gap: 20px;
	margin-right: 10px;
	flex-direction: column;

	@media (min-width: 851px) {
		flex-direction: row;
		margin-left: -20px;
		margin-right: 20px;
	}

	&__sidebar {

		&::-webkit-scrollbar {
			width: 2px;
			height: 2px;
		}

		&::-webkit-scrollbar-track {
			background: linear-gradient(to right, #{$gray-10} 1px, transparent 1px);
		}

		&::-webkit-scrollbar-thumb {
			background: $gray-20;
		}

		@media (min-width: 851px) {
			width: 280px;
			position: sticky;
			top: var(--wp-admin--admin-bar--height);
			height: calc(100vh - 32px);
			overflow-x: hidden;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;

			> *:last-child {
				margin-bottom: 62px;
			}
		}
	}

	&__content {
		flex: 1;
		padding-bottom: 20px;

		&-heading {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 1rem 0;
			column-gap: 2rem;
			row-gap: 1rem;

			@media (min-width: 851px) {
				flex-wrap: nowrap;
				position: sticky;
				top: var(--wp-admin--admin-bar--height);
				background: #f0f0f1;
				z-index: 1;
			}
		}
	}
}
