@import "@wordpress/base-styles/colors.native"; // stylelint-disable-line scss/at-import-partial-extension

.vrts_list_table_page {

	.vrts-testing-status {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 0;

		&--paused {
			color: $alert-red;
		}

		&--running {
			color: $alert-green;
		}

		&--waiting {
			color: $alert-yellow;
		}
	}
}

.column-vrts_testing_status {
	width: 3.5rem;

	.vrts-status {
		display: block;
		width: 20px;
		height: 20px;
	}

	.vrts-icon-status {
		display: inline-block;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		margin: 3px 10px 0 3px;
		background: $gray-700;
		vertical-align: top;

		&--paused {
			background: $alert-red;
		}

		&--running {
			background: $alert-green;
		}
	}
}

.vrts-metabox-notice {
	background: #fff;
	border: 1px solid $gray-10;
	border-left-width: 4px;
	padding: 12px;

	&-is-info {
		border-left-color: $blue-50;
	}

	&-is-error {
		border-left-color: $red-50;
	}

	&-is-success {
		border-left-color: $alert-green;
	}

	+ .vrts-metabox-notice {
		margin-top: 1rem;
	}

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}

.vrts-tooltip {
	position: relative;

	&-icon {
		color: $blue-50;
		display: flex;
		align-items: center;
		justify-content: center;

		&::before {
			font-size: 1rem;
		}

		svg {
			fill: currentcolor;
		}
	}

	&-content {
		display: block;
		position: absolute;
		visibility: hidden;
		padding: 0.5rem;
		width: 240px;
		z-index: 1000002;
		top: -10px;
		right: 20px;
	}

	&-content-inner {
		display: block;
		background: #000;
		border-radius: 2px;
		color: #f0f0f0;
		font-size: 12px;
		line-height: 1.4;
		padding: 0.725rem;

		a {
			color: #fff;
		}
	}

	&:hover &-content {
		visibility: visible;
	}
}

.vrts-testing-toogle {
	display: flex;
	align-items: center;
	gap: 0.25rem;

	.vrts-tooltip {
		margin-left: auto;
	}
}
