@import "@wordpress/base-styles/colors.native"; // stylelint-disable-line scss/at-import-partial-extension

.vrts-list-table-page {

	.vrts-testing-status {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 0;

		&--paused {
			color: $alert-red;
		}

		&--running {
			color: $alert-green;
		}

		&--waiting {
			color: #f97b06;
		}
	}
}

.column-vrts_testing_status {
	width: 3.5rem;

	.vrts-status {
		display: block;
		width: 20px;
		height: 20px;
	}

	.vrts-icon-status {
		display: inline-block;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		margin: 3px 10px 0 3px;
		background: $gray-700;
		vertical-align: top;

		&--paused {
			background: $alert-red;
		}

		&--running {
			background: $alert-green;
		}
	}
}

.vrts-metabox-notice {
	background: #fff;
	border: 1px solid $gray-10;
	border-left-width: 4px;
	padding: 12px;

	&-is-info {
		border-left-color: $blue-50;
	}

	&-is-error {
		border-left-color: $red-50;
	}

	&-is-success {
		border-left-color: $alert-green;
	}

	+ .vrts-metabox-notice {
		margin-top: 1rem;
	}

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}

.vrts-test-run-trigger {
	display: inline-block;
	border-radius: 32px;
	padding: 4px 10px;
	font-size: 13px;
	background: rgba(192, 192, 192, 0.15);
	color: $gray-80;

	&--api {
		background: rgba(224, 84, 6, 0.15);
		color: #ae4204;
	}

	&--scheduled {
		background: rgba(106, 26, 185, 0.1);
		color: #591b98;
	}

	&--manual {
		background: rgba(5, 116, 206, 0.1);
		color: #045495;

	}

	&--update {
		background: rgba(200, 11, 147, 0.1);
		color: #a51d7f;
	}

	&-notes {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.vrts-tooltip {
	position: relative;

	&-icon {
		color: $blue-50;
		display: flex;
		align-items: center;
		justify-content: center;

		&::before {
			font-size: 1rem;
		}

		svg {
			fill: currentcolor;
		}
	}

	&-content {
		display: block;
		position: absolute;
		visibility: hidden;
		padding: 0.5rem;
		width: 240px;
		z-index: 1000002;
		top: -10px;
		right: 20px;
	}

	&-content-inner {
		display: block;
		background: #000;
		border-radius: 2px;
		color: #f0f0f0;
		font-size: 12px;
		line-height: 1.4;
		padding: 0.725rem;

		a {
			color: #fff;
		}
	}

	&:hover &-content {
		visibility: visible;
	}
}

.vrts-testing-toogle {
	display: flex;
	align-items: center;
	gap: 0.25rem;

	.vrts-tooltip {
		margin-left: auto;
	}
}

@keyframes rotate {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
