:root {
	--vrts-admin-theme-color: #2271b1;
}

.admin-color-fresh {
	--vrts-admin-theme-color: #1e8cbe;
}

.admin-color-modern {
	--vrts-admin-theme-color: #3858e9;
}

.admin-color-light {
	--vrts-admin-theme-color: #04a4cc;
}

.admin-color-blue {
	--vrts-admin-theme-color: #e1a948;
}

.admin-color-coffee {
	--vrts-admin-theme-color: #c7a589;
}

.admin-color-ectoplasm {
	--vrts-admin-theme-color: #a3b745;
}

.admin-color-midnight {
	--vrts-admin-theme-color: #dd362d;
}

.admin-color-ocean {
	--vrts-admin-theme-color: #9ebaa0;
}

.admin-color-sunrise {
	--vrts-admin-theme-color: #dd823b;
}
