.vrts-modal {
	animation: vrts-fade-in 200ms both;
	display: flex;
	padding: 15px;
	outline: 0;
	z-index: 9999999999;

	&[aria-hidden="true"] {
		display: none;
	}

	&,
	&__overlay {
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
	}

	&__overlay {
		background-color: rgba(44, 51, 56, 0.35);
	}

	&__content {
		animation: vrts-fade-in 300ms both, vrts-slide-up 300ms both;
		background-color: #fff;
		box-shadow: 2px 2px 8px 4px rgba(30, 30, 30, 0.12);
		border-radius: 3px;
		display: flex;
		flex-direction: column;
		margin: auto;
		max-height: min(calc(100vh - 40px), 620px);
		min-width: 250px;
		max-width: 345px;
		position: relative;
		width: 100%;
		z-index: 99999;

		&-inner {
			flex: 1 1 auto;
			overflow: auto;
			padding: 10px 15px 15px;
		}
	}

	&__close {
		all: unset;
		position: absolute;
		top: 7px;
		right: 7px;
		width: 32px;
		height: 32px;
		cursor: pointer;
		display: block !important;
		background-image: url('data:image/svg+xml,<svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.2564 1.41L6.71644 4.95L10.2564 8.49L8.84645 9.9L5.30645 6.37L1.77644 9.9L0.356445 8.48L3.88645 4.95L0.356445 1.42L1.77644 0L5.30645 3.53L8.84645 0L10.2564 1.41Z" fill="%23757575"/></svg>'); // stylelint-disable-line
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 3px;
		font-size: 0;
		z-index: 1;
		transition: background-color 0.2s;

		&:hover {
			background-color: #f6f7f7;
		}

		&:focus-visible {
			outline: 2px solid var(--vrts-admin-theme-color);
		}
	}

	&__title {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		margin: 0;
		padding: 15px 45px 0 15px;
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.5;
	}
}
